body {
	font-family: Microsoft JhengHei;
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	margin-left: 4%;
	margin-right: 4%;
	padding:10 20 20 10;
}

tr {
	vertical-align: top;
}

.leftCell {
	width: 13%;
	padding-right: 2.5%;
	
	border-right: 1px solid #e3efea;
	border-radius: 3px;
}

.rightCell {
	padding-top: 2%;
	width: 40%;
	padding-bottom: 0.5%;
	padding-left: 2.5%;
}

.login {
	margin-top: 25%;
	float: right;
}

.rightSideFiller {
	width: 10%;
}

.innerWeibo {
	margin-left: 20px;
	margin-top: 3px;
	padding-left: 3px;
	margin-right: 10px;
	background-color: #f2f2f2;

	border-color: #e3efea;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

a:link {
    text-decoration: none;
    color: #3c7cb3;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.showMore {
	background: #fefded;
	color: #F48C12;
	border: 1px solid #f9f2a7;
	border-radius: 3px;
	height: 40px;
	line-height: 23px;
	text-align: center;
	visibility: hidden;
	margin-top: 20px;
	padding-top: 16px;
	font-size: 35;
	cursor: pointer;
}
.showMore span {

}